header {
  margin: 1rem;
  .title {
    color: var(--primaryColor);
    font-weight: 600;
    font-size: 28px;
    .highlight-title {
      color: #ff740f;
    }
  }

  .logo {
    height: 3rem;
    display: inline-block;
  }

  .header-btns {
    position: absolute;
    right: 36px;
    top: 17px;
    img {
      margin-left: 8px;
      height: 1.2rem;
      width: 1.2rem;
    }
  }
}