header {
  margin: 1rem;
  .title {
    color: var(--primaryColor);
    font-weight: 600;
    font-size: 28px;
    .highlight-title {
      color: #ff740f;
    }
  }

  .logo {
    height: 3rem;
    display: inline-block;
  }

  .header-btns {
    position: absolute;
    right: 36px;
    top: 17px;
    img {
      margin-left: 8px;
      height: 1.2rem;
      width: 1.2rem;
    }
  }
}
.btn{
  background: none;
  border: none;
}
.dropdown-menu{
  min-width: 144px;
  transform: translate3d(-111px, 27px, 0px);
  padding: 0;
  a:hover, a:active{
    background: none;
  }
}
.dropdown-item{
    white-space: normal;
    font-size: 14px;
    padding: 12px;
}
.notify-icon{
    background: red;
    width: 9px;
    height: 9px;
    border-radius: 50%;
}
.notify-bx{
  position: absolute;
  top: 6px;
  right: 11px;
}
.fa{
  color: var(--primaryColor);
}