<header>
  <div routerLink="/">
      <div class="row">
        <div class="col-md-3">
          <div class="d-flex">
          <div>
            <img src="../../../assets/images/headerlogo.png" class="img-fluid" alt="...">
        </div>
        <div>
          <h5 class="card-title fs-14 font-600">
          <span class="text-gray-0 fs-12">DEPARTMENT OF</span> <br> 
          <span class="fs-16"> Basic Education</span><br>
          <span class="text-orange fs-10">GOVERNMENT OF UTTAR PRADESH</span> 
          </h5>
        </div>
        </div>
      </div>
        <div class="col-md-7">
          <div>
            <span class="title">
              <span class="highlight-title">ULP</span>
              Registration Portal
            </span>
          </div>
        </div>
      </div>
    </div>
  <div class="header-btns">
    <img src="assets/icons/bell.svg" alt="Notification">
  </div>
</header>