.w-99{
    width: 99%;
}
.iframe-container1{
    position: relative;
    width: 582px;
    height: 276px;
    border-radius: 8px;
}
.responsive-iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}