.text-yellow {
  color: #ff740f;
}
.text-blue {
  color: #050c44;
}
.page-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 50px;
}
.horizontal-line {
  height: 0;
  width: 50%;
  margin: 0 auto;
}
.bullet-point {
  width: 40%;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  color: #050c44;
  margin: 2rem auto 0;
  list-style-type: none;
}
.register-button {
  height: 3rem;
  width: 16em;
  border-radius: 5px;
  margin-top: 4rem;
  font-weight: 600;
}
.check-icon {
  img {
    width: 2rem;
    height: 2rem;
  }
  margin-right: 1rem;
}
.bullet-point li {
  display: flex;
  line-height: 1;
  justify-content: flex-start;
  align-items: baseline;
  padding: 1rem 0;
}
.reg-img {
  margin-top: 1rem;
}
