<div id="sect1" class="container">
  <div class="text-center">
    <img src="assets/images/ULPlogo.png" class="reg-img" alt="cinque terre" />

    <h1 class="text-center page-title">
      <span class="text-yellow">ULP </span>
      <span class="text-blue">Registration Portal</span>
    </h1>
    <hr class="horizontal-line" />

    <ul class="bullet-point">
      <li>
        <span class="check-icon">
          <img src="assets/images/checkmark.svg" alt="cinque terre" /> </span
        >Certificate verification now simplified
      </li>
      <li>
        <span class="check-icon">
          <img src="assets/images/checkmark.svg" alt="cinque terre" />
        </span>
        View dozens of scholarships
      </li>
      <li>
        <span class="check-icon">
          <img src="assets/images/checkmark.svg" alt="cinque terre" />
        </span>
        One click apply
      </li>
    </ul>

    <button type="button" class="register-button">Register</button>
  </div>
</div>
