<div id="sect1" class="container">
  <div class="text-center">
    <img src="assets/images/logo.svg" class="reg-img" alt="logo" />

    <h1 class="text-center page-title">
      <span class="text-yellow">ULP </span>
      <span class="text-blue">Registration Portal</span>
    </h1>
    <hr class="horizontal-line" />

    <ul class="bullet-point">
      <li *ngFor="let item of featureList">
        <span class="check-icon">
          <img src="assets/icons/checkmark.svg" [alt]="item" /> </span>{{item}}
      </li>
    </ul>

    <button type="button" class="btn btn-primary btn-lg register-button" routerLink="login">Register</button>
  </div>
</div>