<app-global-header></app-global-header>
<section>
      <aside class="col-sm-3">
        <app-sidebar></app-sidebar>
      </aside>
      <main class="col-sm-9">
        <div *ngIf="!isChildRoute">
          <div class="card-bx text-center">
            <h1 class="heading1 pb-5">{{'STUDENT_REGISTRATION' | translate}}</h1>
              <div class="vertical-card">
                <div class="d-flex align-item-center" routerLink="register-entity">
                  <div>
                    {{'REGISTER_ISSUE_MANAGE_CERT' | translate }}
                  </div> 
                  <div>
                    <i class="fa fa-arrow-alt-circle-right fs-28"></i>
                  </div>
                </div>
            </div>
            <div class="vertical-card mt-5">
              <div class="d-flex align-item-center" routerLink="claim-approval">
                <div>
                  {{'STUD_REGISTRATION_CLAIM' | translate }}
                </div> 
                <div>
                  <i class="fa fa-arrow-alt-circle-right fs-28"></i>
                </div>
              </div>
          </div>  
          </div>
        </div>
        <router-outlet></router-outlet>
      </main>
</section>