aside {
  float: left;
  // width: 22%
}

main {
  float: right;
  // width: 78%;
}
.vertical-card{
  padding: 38px 47px; 
  background: #FFFFFF;
  box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #050C44;
}
.heading1{
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #3E3E3E;
}


.fs-28{
  font-size: 28px;
}
.card-bx{
  width: 510px;
  margin: 0 auto;
}
.align-item-center{
  align-items: center;
}
.text-right{
  text-align: right;
}

.box {
  width: 350px;
  height: 109px;
  background: #050C44;
  box-shadow: 0px 8.24562px 11.5439px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  color: #fff;
  padding: 15px;
}
.icon-siz{
  font-size: 25px;
}
.side-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-line::after{
   content: "";
   display: inline-block;
   height: 4px;
   background: #D2D2D2;
   width: 35%;
}
.side-line::before{
   content: "";
   display: inline-block;
   height: 4px;
   background: #D2D2D2;
   width: 35%;
}