<app-global-header></app-global-header>
<section>
  <aside class="col-sm-2 pl-0">
    <app-sidebar></app-sidebar>
  </aside>
  <main class="col-sm-10">
    <p *ngIf="isFirstTimeLogin && currentUser?.name">{{'WELCOME_NOTE' | translate: {name: currentUser?.name} }}</p>
    <div *ngIf="!isChildRoute" class="container">
      <div class="d-flex gap-20 pb-55 pt-3  flex-wrap">
        <div class="box">
          <div class="fs-35 text-right">{{metrics?.students_registered}}</div>
          <div class="fs-16 ">{{'REGISTERED_TOTAL_STUDENTS' | translate}}</div>
        </div>
        <div class="box">
          <div class="fs-35">{{metrics?.credentials_issued}}</div>
          <div class="fs-16">{{'ENROLMENT_CREDENTIAL' | translate}}</div>
        </div>
        <div class="box">
          <div class="fs-35">{{metrics?.claims_approved}}</div>
          <div class="fs-16">{{'APPROVED_CLAIMS' | translate}}</div>
        </div>
        <div class="box">
          <div class="fs-35">{{metrics?.claims_pending}}</div>
          <div class="fs-16">{{'PENDING_CLAIM_APPROVAL' | translate}}</div>
        </div>
        <div class="box">
          <div class="fs-35">{{metrics?.claims_rejected}}</div>
          <div class="fs-16">{{'REJECTED_CLAIMS' | translate}}</div>
        </div>
      </div>
      <h1 class="heading1 py-3  text-center">{{'QUICK_LINKS' | translate}}</h1>

      <div class="d-flex gap-20 text-center">
        <div class="vertical-card">
          <div class="d-flex align-item-center" routerLink="register-entity">
            <div>
              {{'REGISTER_ISSUE_MANAGE_CERT' | translate }}
            </div>
            <div>
              <i class="fa fa-arrow-alt-circle-right fs-28"></i>
            </div>
          </div>
        </div>
        <div class="vertical-card">
          <div class="d-flex align-item-center" routerLink="claim-approval">
            <div>
              {{'STUD_REGISTRATION_CLAIM' | translate }}
            </div>
            <div>
              <i class="fa fa-arrow-alt-circle-right fs-28"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </main>
</section>