<div>
  <img src="assets/images/ULPlogo.png" class="reg-img" alt="cinque terre" />

  <h1 class="text-center page-title">
    <span class="text-yellow">ULP </span>
    <span class="text-blue">Registration Portal</span>
  </h1>
  <hr class="horizontal-line" />
  <h2 class="headline2">Login using UDISE Respondent phone number and OTP</h2>
  <div class="vertically-center">
    <label class="lable-property">Phone</label>
    <div class="d-flex">
      <div class="dropdown mr-3">
        <button
          class="btn dropdown-toggle black-border"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          +91
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">+91</a>
          <a class="dropdown-item" href="#">+263</a>
          <a class="dropdown-item" href="#">+101</a>
        </div>
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control black-border mobile_input_height"
          id="mobile_no"
          placeholder="9120271302"
        />
      </div>
    </div>
  </div>
  <button type="button" class="sendotp-button" (click)="toggleTag()">
    Send OTP
  </button>
  <div *ngIf="showMe" class="vertically-center">
    <label class="lable-property">OTP</label>
    <div class="d-flex">
      <div class="mr-3">
        <input
          type="text"
          class="form-control black-border verify-otp-ht"
          id="OTP"
          placeholder="12345"
        />
      </div>
      <div class="form-group">
        <button type="button" class="btn verify-btn">Verify</button>
      </div>
    </div>
  </div>
  <p *ngIf="showMe" class="msg-property">Didn’t receive OTP? Resend</p>
</div>


