.reg-img {
  margin-top: 1rem;
  height: 4rem;
  margin-left: 1rem;
}
.page-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 50px;
}
.text-blue {
  color: #050c44;
}
.text-yellow {
  color: #ff740f;
}
.horizontal-line {
  height: 0;
  width: 50%;
  margin: 0 auto;
}
.headline2 {
  color: #555454;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}
.btn {
  height: 45px;
}
.vertically-center {
  width: 30%;
  margin: 0 auto;
  margin-top: 2rem;
}
.black-border {
  border: 1px solid #4f4f4f;
}
.mobile_input_height {
  height: calc(1.5em + 0.75rem + 12px);
}
.sendotp-button {
  height: 52px;
  margin-top: 20px;
  font-weight: 600;
}
.verify-btn {
  margin-left: 100px;
}
.verify-otp-ht {
  height: calc(1.5em + 0.75rem + 12px);
}
.label-property {
  color: #363636;
}
.msg-property {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #ff4545;
  margin-top: 0.8rem;
}
