.reg-img {
  margin-top: 1rem;
  height: 4rem;
  margin-left: 1rem;
}
.page-title {
  font-size: 34px;
  font-weight: 700;
  margin-top: 50px;
}
.text-blue {
  color: #050c44;
}
.text-yellow {
  color: #ff740f;
}
.headline2 {
  color: #555454;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.vertically-center {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.input-phone {
  border: 1px solid #4f4f4f;
  height: 45px;
  background: #fff;
}
.mobile_input_height {
  height: calc(1.5em + 0.75rem + 12px);
}

.verify-btn {
  margin-left: 100px;
}
.verify-otp-ht {
  height: calc(1.5em + 0.75rem + 12px);
}
.label-property {
  color: #363636;
}
.msg-property {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #ff4545;
  margin-top: 0.8rem;
}
.w-30{
  width: 30%;
}
.w-40{
  width: 39%;
}
.w-283{
  width: 283px;
}
.p-43{
  padding: 9px 43px;
}
.p-166{
  padding: 12px 166px;
}