<div>
  <div class="d-flex justify-content-center mt-3">
    <div>
      <img src="assets/images/headerlogo.png" class="img-fluid" alt="...">
    </div>
  <div>
    <h5 class="card-title fs-14 font-600">
    <span class="text-gray-0 fs-12">DEPARTMENT OF</span> <br> 
    <span class="fs-16"> Basic Education</span><br>
    <span class="text-orange fs-10">GOVERNMENT OF UTTAR PRADESH</span> 
    </h5>
  </div>
</div>
  <h1 class="text-center page-title">
    <span class="text-yellow">AVSAR </span>
    <span class="text-blue">Registration Portal</span>
  </h1>
  <hr class="horizontal-line" />
  <h2 class="headline2">{{'LOGIN_USING_UDISE' | translate}}</h2>
  <div class="vertically-center">
    <label class="lable-property">{{'PHONE' | translate}}</label>
    <div class="d-flex justify-content-center">
      <div class="dropdown mr-3">
        <button class="btn dropdown-toggle input-phone" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          +91
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">+91</a>
          <a class="dropdown-item" href="#">+263</a>
          <a class="dropdown-item" href="#">+101</a>
        </div>
      </div>
      <input type="text" class="form-control input-phone mobile_input_height w-283" id="mobile_no"
        placeholder="9120271302" />
    </div>
    <button *ngIf="!showMe" type="button" class="custom-button blue-button mt-20" (click)="toggleTag()">
      {{'SEND_OTP' | translate }}
    </button>
  </div>
  <div *ngIf="showMe" class="vertically-center">
    <label class="lable-property">OTP</label>
    <div class="d-flex justify-content-center">
      <input type="text" class="form-control input-phone verify-otp-ht mr-3 w-30" id="OTP" placeholder="12345" />
      <button type="button" class="custom-button blue-button p-43">{{'VERIFY' | translate}}</button>
    </div>
    <p class="msg-property">{{'DIDNT_RECEIVE_OTP' | translate}}</p>
    <button type="button" class="custom-button blue-button mt-20 p-166" (click)="toggleTag()" routerLink="/dashboard">
      {{'LOGIN' | translate }}
    </button>
  </div>
</div>