.reg-img {
  margin-top: 40px;
  width: 321px;
  height: 70px;
  margin-left: 50px;
}
.page-title {
  font-family: Poppins;
  font-size: 38px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0em;
  margin-top: 50px;
}
.text-blue {
  color: #050c44;
}
.text-yellow {
  color: #ff740f;
}
.horizontal-line {
  height: 0px;
  width: 447px;
  left: 800 px;
  top: 300px;
  border-radius: nullpx;
  margin-left: 425px;
  margin-top: 10px;
}
.headline2 {
  color: #555454;
  width: 650px;
  height: 36px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 370px;
}

.btn {
  margin-left: 100px;
  height: 45px;
}
.register-button {
  height: 52px;
  width: 350px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  padding: 14px 140px 14px 140px;
  background-color: #050c44;
  margin-top: 40px;

  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #dcdcdc;
  margin-left: 200px;
}
.number-property {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #363636;
  margin-top: 50px;
  margin-left: 100px;
}
.vertically-center {
  width: 40%;
  margin: 0px auto;
  margin-top: 80px;
}
.black-border {
  border: 1px solid #4f4f4f;
}
.mobile_input_height {
  height: calc(1.5em + 0.75rem + 12px);
  width: 320px;
}

.sendotp-button {
  height: 52px;
  width: 410px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  padding: 14px 140px 14px 140px;
  background-color: #050c44;
  margin-top: 20px;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #dcdcdc;
  margin-left: 485px;
}
.verify-btn {
  height: 46px;

  left: 0px;
  top: 0px;
  border-radius: 5px;
  padding: 11px 41px 11px 41px;
  color: white;
  background: #050c44;
  margin-left: 100px;
}

.verify-otp-ht {
  height: calc(1.5em + 0.75rem + 12px);
  margin-left: 100px;
}
.lable-property {
  margin-left: 98px;
  color: #363636;
}
.msg-property {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff4545;
  margin-left: 650px;
}
