<div class="container text-center pb-0 mt-20">
  <p class="text-danger">It seems you have not completed your KYC. Please complete your one time KYC here</p>
  <form [formGroup]="aadharForm" (ngSubmit)="verifyAadhar()">
    <div class="mb-3 pb-10">
      <label for="name">{{'NAME' | translate}}</label>
      <div class="input-group mb-2">
        <input type="text" class="form-control p-4" id="name" name="name" placeholder="Enter your name"
          formControlName="name" disabled="true">
      </div>
    </div>
    <div class="mb-3 pb-10">
      <label for="aadharId">{{'ENTER_AADHAAR_NO' | translate}}</label>
      <div class="input-group mb-2">
        <input type="text" class="form-control p-4" id="aadharId" name="aadharId" placeholder="3456*****"
          formControlName="aadharId" maxLength="12" (keypress)="OnlyNumbersAllowed($event)">
      </div>
      <p class="text-danger" *ngIf="aadharId.invalid && aadharId.touched">{{'INCORRECT_AADHAR' | translate}}</p>
    </div>
    <div class="pb-10">
      <button type="submit" class="btn btn-primary mt-4">{{'VERIFY'| translate}}</button>
    </div>
  </form>
</div>

<div class="text-center" *ngIf="isLoading">
  <div class="center-loading">
    <div class="spinner-border">
    </div>
  </div>
</div>
