<div class="container text-center pb-0 mt-20">
  <p class="text-danger">{{'NOT_COMPLETED_YOUR_KYC_PLEASE_COMPLETE_YOUR_KYC_HERE' | translate }}</p>
  <form [formGroup]="aadharForm" (ngSubmit)="verifyAadhar()">
    <div class="mb-3 pb-10">
      <label for="name">{{'NAME' | translate}}</label>
      <div class="input-group mb-2">
        <input type="text" class="form-control p-4" id="name" name="name" placeholder="{{'ENTER_YOUR_NAME' | translate}}"
          formControlName="name" disabled="true">
      </div>
    </div>
    <div class="mb-3 pb-10">
      <label for="aadharId">{{'ENTER_AADHAAR_NO' | translate}}</label>
      <div class="input-group mb-2">
        <input type="text" class="form-control p-4" id="aadharId" name="aadharId" placeholder="3456*****"
          formControlName="aadharId" maxLength="12" (keypress)="OnlyNumbersAllowed($event)">
      </div>
      <p class="text-danger" *ngIf="aadharId.invalid && aadharId.touched">{{'INCORRECT_AADHAR' | translate}}</p>
    </div>
    <div class="pb-10">
      <button type="submit" class="btn btn-primary mt-4"  data-toggle="modal" data-target="#exampleModalCenter">{{'VERIFY'| translate}}</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content content-ht">
          <div class="modal-header border-none">
            <button type="button" class="close croos-btn" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="d-flex justify-content-center">
            <div>
              <div class="fs-20 text-center text-grey2 font-600 ">
                {{'LINK_YOUR_UDISE'| translate}}
              </div>
              <div>
                <button _ngcontent-coo-c168="" [disabled]="aadharForm.invalid" type="submit" class="custom-button1 blue-button mt-20 pr-90 fs-14">{{'LINK_NOW'| translate}} </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="text-center" *ngIf="isLoading">
  <div class="center-loading">
    <div class="spinner-border">
    </div>
  </div>
</div>
