.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;

  div {
    padding: 8px;
    text-align: center;
  }
}

.filter-btn {
  background: #fff !important;
  color: #484545 !important;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.16) !important;
  border: 0;
  border-radius: 6px !important;
  cursor: pointer;
  padding: 15px 26px 15px 12px !important;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.student-list {
  margin: 4px, 4px;
  padding: 4px;
  width: 100%;
  white-space: nowrap;
  overflow: auto;
  height: 385px;
}

table {
  color: #303972 !important;
  background: #fff;
  border-radius: 12px;
  border: none;
  tr{
    padding: 10px;
    border-bottom: solid 1px #f5f2f2 !important;
  }
  th,
  td {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;  
    color: #303972
  }
  th {
    font-weight: 600;
  }
}
.img-btn {
  cursor: pointer;
  width: 16px;
}

.title {
  color: #414141;
  font-size: 16px;
}

.table-footer {
  margin-bottom: 56px;
  button {
    margin-right: 30px !important;
  }
}

::ng-deep {
  .page-item.active .page-link {
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
  }
  .page-link{
    border-radius: 50%;
    color: #A098AE;
    margin: 10px;
    width: 45px;
    line-height: 27px;
    height: 45px;
    text-align: center;
  }
}

.filter-bx{
  label{
    font-size: 14px;
    line-height: 21px;
    color: #434343;
  }
}

.fa-solid{
  font-size: 16px;
  padding-left: 15px;
}

.heading1{
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #3E3E3E;
}

.vertical-card{
  padding: 38px 42px;
  width: 503px;
  height: 136px;
  background: #FFFFFF;
  box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #050C44;
}
.fs-28{
  font-size: 28px;
}
.card-bx{
  width: 510px;
  margin: 0 auto;
}
.align-item-center{
  align-items: center;
}
.text-gray-100{
  color: #414141;
}
.p-65{
  padding: 12px 65px;
}