.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;

  div {
    padding: 8px;
    text-align: center;
  }
}
.container {
  width: 100% !important;
}

.filter-btn {
  background: #fff !important;
  color: #484545 !important;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.16) !important;
  border: 0;
  border-radius: 6px !important;
  cursor: pointer;
  padding: 15px 26px 15px 12px !important;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.student-list {
  margin: 4px, 4px;
  padding: 4px;
  width: 100%;
  white-space: nowrap;
  overflow: auto;
  height: 385px;
}

table {
  color: #303972 !important;
  background: #fff;
  border-radius: 12px;
  border: none;
  tr {
    padding: 10px;
    border-bottom: solid 1px #f5f2f2 !important;
  }
  th,
  td {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #303972;
  }
  th {
    font-weight: 600;
  }
}
.img-btn {
  cursor: pointer;
  width: 16px;
}

.title {
  color: #414141;
  font-size: 16px;
}

.table-footer {
  margin-bottom: 56px;
  button {
    margin-right: 30px !important;
  }
}

::ng-deep {
  .page-item.active .page-link {
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
  }
  .page-link {
    border-radius: 50%;
    color: #a098ae;
    margin: 10px;
    width: 45px;
    line-height: 27px;
    height: 45px;
    text-align: center;
  }
}

.filter-bx {
  label {
    font-size: 12px;
    line-height: 21px;
    color: #434343;
  }
}

.fa-solid {
  font-size: 16px;
  padding-left: 15px;
}
.text-gray-100 {
  color: #414141;
}
.p-65 {
  padding: 12px 65px;
}
.verify {
  border-left: solid 3px #04bc00;
}
.warning {
  border-left: solid 3px #d64040;
}
.btn-warn {
  background: none;
  border: solid 1px #d64040;
  color: #d64040;
  padding: 6px 31px;
  border-radius: 3px;
}
.pr-22 {
  padding-right: 22px;
}
