<div class="container bg-gray-100">
  <h5 class="text-center mb-5 title pt-4">
    {{'REGISTER_STUD_EXCEL_TEMPLATE' | translate}}<a href="#" class="text-gray-100">{{'DEMO_VIDEO' | translate }}</a>
  </h5>

  <div>
    <div class="row filter-bx">
      <div class="col-md-2">
        <label>{{'SELECT_GRADE' | translate}}</label>
        <select class="filter-btn" aria-label="Default select example" [(ngModel)]="model.grade"
          (ngModelChange)="onModelChange()" #grade="ngModel">
          <option [ngValue]="undefined" [disabled]="true">{{'SELECT_GRADE' | translate}}</option>
          <option *ngFor="let grade of grades" [value]="grade.value">{{grade.label}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="academicYear">{{'SELECT_ACADEMIC_YEAR' | translate }}</label>
        <select class="filter-btn" id="academicYear" [(ngModel)]="model.academicYear" #academicYear="ngModel"
          (ngModelChange)="onModelChange()">
          <option [ngValue]="undefined" [disabled]="true">{{'SELECT_YEAR' | translate }}</option>
          <option *ngFor="let year of academicYearRange" [value]="year">{{year}}</option>
        </select>
      </div>
      <!-- <div class="col-md-2">
        <label for="certificateType">{{'SELECT_TYPE' | translate }}</label>
        <select class="filter-btn" id="certificateType" [(ngModel)]="model.certificateType" #certificateType="ngModel">
          <option [ngValue]="undefined" [disabled]="true">{{'SELECT_TYPE' | translate }}</option>
          <option *ngFor="let type of certificateTypes" [value]="type.value" [disabled]="!type.isEnabled">{{type.label}}
          </option>
        </select>
      </div> -->
      <div class="col-md-3">
        <label>&nbsp;</label>
        <button class="filter-btn" (click)="downloadTemplate()">{{'DOWNLOAD_CSV' |
          translate}}&nbsp;&nbsp;<i class="fa fa-solid fa-file-download"></i></button>
      </div>
      <div class="col-md-3">
        <label>&nbsp;</label>
        <input #fileUploadSimple [accept]="'.csv'" type="file" class="file-input" (click)="$event.target.value=null"
          (change)="importDataFromCSV($event)" hidden="true" />
        <button class="filter-btn" (click)="fileUploadSimple.click()"
          [disabled]="!(model.grade && model.academicYear && !showProgress)">{{'UPLOAD_CSV' |
          translate }}&nbsp;<i class="fa fa-solid fa-file-upload"></i></button>
      </div>
    </div>
  </div>
  <div class="student-list">
    <ngb-progressbar *ngIf="showProgress" type="info" [value]="progress" [striped]="true"
      [animated]="true">{{progress}}%</ngb-progressbar>
    <div class="d-flex justify-content-center" *ngIf="isLoading">
      <div class="spinner-border" role="status">
        <span class="sr-only">{{'LOADING' | translate }}</span>
      </div>
    </div>
    <ngb-alert type="danger" *ngIf="errorMessage">{{ errorMessage }}</ngb-alert>
    <table class="table" cellpadding="0" cellspacing="0" *ngIf="false">
      <thead>
        <tr>
          <th scope="col" *ngFor="let columnValue of tableColumns">{{columnValue | titlecase}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rowValues of tableRows; index as i">
          <td *ngFor="let item of rowValues">{{ item }}</td>
          <td><img src="assets/icons/edit.svg" alt="Edit Details" class="img-btn"></td>
          <td><img src="assets/icons/delete.svg" alt="Delete Details" class="img-btn"></td>
        </tr>
      </tbody>
    </table>

    <table class="table" cellpadding="0" cellspacing="0" *ngIf="studentList?.length">
      <thead>
        <tr>
          <th scope="col">{{'SR_NO' | translate }}</th>
          <th scope="col">{{'STUDENT_ID' | translate }}</th>
          <th scope="col">{{'NAME' | translate }}</th>
          <th scope="col">{{'DATE_OF_BIRTH' | translate }}</th>
          <th scope="col">Mobile</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of studentList; index as i">
          <td>{{i+1}}</td>
          <td>{{item?.studentId}}</td>
          <td>{{item?.name}}</td>
          <td>{{item?.dob}}</td>
          <td>{{item?.mobile}}</td>
        </tr>
      </tbody>
    </table>

    <p class="text-center mt-4" *ngIf="!isLoading && !studentList?.length">{{'NO_RECORDS_FOUND' | translate}}</p>


    <!-- UI static table below -->
    <!-- <table class="table" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th>Verified</th>
          <th>Name</th>
          <th>ID</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td class="verify"><img src="assets/images/verifyicon.png" alt=""></td>
        <td>wewe</td>
        <td>wewe</td>
        <td></td>
        </tr>
        <tr>
          <td class="verify"><img src="assets/images/verifyicon.png" alt=""></td>
          <td>wewe</td>
          <td>wewe</td>
          <td></td>
          </tr> <tr>
            <td class="verify"><img src="assets/images/verifyicon.png" alt=""></td>
            <td>wewe</td>
            <td>wewe</td>
            <td></td>
            </tr> <tr>
              <td class="warning"><img src="assets/images/warningicon.png" alt=""></td>
              <td>wewe</td>
              <td>wewe</td>
              <td><button type="button" class="btn-warn">Verify !</button></td>
              </tr> <tr>
                <td class="verify"><img src="assets/images/verifyicon.png" alt=""></td>
                <td>wewe</td>
                <td>wewe</td>
                <td><img src="assets/images/checkicon.png" alt="" class="pr-22"><img src="assets/images/closecheck.png" alt=""></td>
              </tr>
      </tbody>
    </table> -->
  </div>
  <!-- <div class="d-flex justify-content-end align-items-start p-2 pb-3 pt-5 table-footer" *ngIf="allDataRows?.length">
    <button type="button" class="custom-button blue-button mt-10 p-65" (click)="saveAndVerify()">Save and Verify Student</button>
    <ngb-pagination class="ml-2" [collectionSize]="allDataRows?.length" [(page)]="page" [pageSize]="pageSize"
      (pageChange)="pageChange()">
    </ngb-pagination>
  </div> -->

  <div class="d-flex justify-content-end align-items-start p-2 pb-3 pt-5 table-footer" *ngIf="studentList?.length">
    <button type="button" class="custom-button blue-button mt-10 p-65" (click)="issueBulkCredentials()">{{'ISSUE_CREDENTIALS' | translate }}
    </button>
    <ngb-pagination class="ml-2" [collectionSize]="studentList?.length" [(page)]="page" [pageSize]="pageSize"
      (pageChange)="pageChange()">
    </ngb-pagination>
  </div>
</div>