<div class="sidebar">
  <section class='sidebarContainer'>
    <div *ngFor="let item of menuList" class="menu mb-4 s-3" [routerLink]="[item.link]" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}">
      <i [class]="item.class"></i>
      <div class="title">{{item.label}}</div>
    </div>
    <div class="menu botm-fixed" (click)="logout()">
      <i class="fa fa-power-off fs-22 text-primary-color"></i>
      <div class="title">{{'LOGOUT' | translate }}</div>
    </div>
  </section>

  <!-- <section *ngIf="showInstructions">
    <div class="instructions pt-5">
      <h6 class="title">
        <i class="fa fa-info-circle"></i>
        {{'INSTRUCTIONS' | translate }}
      </h6>
      <ul>
        <li>{{'STEP_ONE' | translate}} <div><i class="fa fa-download"></i> &nbsp;{{'DOWNLOAD_CSV_TEMPLATE' | translate
            }}</div>
        </li>
        <li>{{'STEP_TWO' | translate}}<div><i class="fa fa-check-circle"></i>&nbsp;{{'SELECT_GRADE_AY' | translate }}
          </div>
        </li>
        <li>{{'STEP_THREE' | translate}}<div><i class="fa fa-upload"></i>&nbsp;{{'UPLOAD_FILLED_UP_CSV' | translate }}
          </div>
        </li>
      </ul>
    </div>
  </section> -->

</div>