<div class="sidebar">
  <section class='sidebarContainer'>
    <div *ngFor="let item of menuList" class="menu" [routerLink]="[item.link]" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}">
      <i [class]="item.class" ></i>
      <div class="title">{{item.label}}</div>
    </div>
      <div class="pt-3 pl-39" (click)="logout()"><a href="#"><i class="fa fa-sign-out-alt fs-22 text-primary-color"></i><span class="fs-16 pl-3 text-primary-color">{{'LOGOUT' | translate }}</span></a></div>
  </section>

  <section *ngIf="showInstructions">
    <div class="instructions pt-5">
      <h6 class="title">
        <i class="fa fa-info-circle"></i>
        {{'INSTRUCTIONS' | translate }}
      </h6>
      <ul>
      <li>Step-1 <div><i class="fa fa-download"></i> &nbsp;{{'DOWNLOAD_CSV_TEMPLATE' | translate }}</div></li>
        <li>Step-2<div><i class="fa fa-check-circle"></i>&nbsp;{{'SELECT_GRADE_AY' | translate }}</div></li>
        <li>Step-3<div><i class="fa fa-upload"></i>&nbsp;{{'UPLOAD_FILLED_UP_CSV' | translate }}</div></li>
      </ul>
    </div>
  </section>

</div>