<div id="sect1" class="container">
    <div>
      <h1 class="text-center page-title">
        <span class="text-yellow">AVSAR </span>
        <span class="text-blue">Registration Portal</span>
      </h1>
      <hr class="horizontal-line" />
      <div class="pb-5 pt-3 text-center ">Select your department </div>
        <div class="card-cover">
            <div class="card-bx">
                <img src="../../assets/images/lp-7.png" alt="" class="img-fluid img1">
            </div>
            <div class="card-bx cursor-pointer" routerLink="/register">
                <img src="../../assets/images/lp-6.png" alt="" class="img-fluid img1">
            </div>
            <div class="card-bx">
                <img src="../../assets/images/lp-5.png" alt="" class="img-fluid img2">
            </div>
            <div class="card-bx">
                <img src="../../assets/images/lp-4.png" alt="" class="img-fluid img1">
            </div>
            <div class="card-bx">
                <img src="../../assets/images/lp-3.png" alt="" class="img-fluid img1">
            </div>
            <div class="card-bx">
                <img src="../../assets/images/lp-2.png" alt="" class="img-fluid img3">
            </div>
            <div class="card-bx">
                <img src="../../assets/images/lp-1.png" alt="" class="img-fluid img1">
            </div>
        </div>  
    </div>
  </div>
  
  
  
  
  