<div id="sect1" class="container">
    <div>
        <h1 class="text-center page-title">
            <span class="text-yellow">AVSAR </span>
            <span class="text-blue">Registration Portal</span>
        </h1>
        <hr class="horizontal-line" />
        <div class="pb-5 pt-3 text-center ">{{'SELECT_YOUR_DEPARTMENT' | translate }} </div>
        <div class="card-cover">
            <div class="card-bx">
                <img src="assets/images/lp-7.png" alt="" class="img-fluid img1" title="{{'COMING_SOON' | translate }}">
            </div>
            <div class="card-bx cursor-pointer" [routerLink]="'/sign-in'" (click)="raiseInteractEvent('login-auth')">
                <img src="assets/images/lp-6.png" alt="" class="img-fluid img1">
            </div>
            <div class="card-bx">
                <img src="assets/images/lp-5.png" alt="" class="img-fluid img2" title="{{'COMING_SOON' | translate }}">
            </div>
            <div class="card-bx">
                <img src="assets/images/lp-4.png" alt="" class="img-fluid img1" title="{{'COMING_SOON' | translate }}">
            </div>
            <div class="card-bx">
                <img src="assets/images/lp-3.png" alt="" class="img-fluid img1" title="{{'COMING_SOON' | translate }}">
            </div>
            <div class="card-bx">
                <img src="assets/images/lp-2.png" alt="" class="img-fluid img3" title="{{'COMING_SOON' | translate }}">
            </div>
            <div class="card-bx">
                <img src="assets/images/lp-1.png" alt="" class="img-fluid img1" title="{{'COMING_SOON' | translate }}">
            </div>
        </div>
    </div>
</div>
