.container {
  width: 100% !important;
}
.fa-eye {
  color: #131b58;
  font-size: 19px;
  vertical-align: middle;
}
h5 {
  font-size: 16px;
  line-height: 24px;
  color: #414141;
}
.w-30 {
  width: 30%;
}
.pr-3 {
  padding-right: 20px;
}
table {
  color: #303972 !important;
  background: #fff;
  border-radius: 12px;
  border: none;
  tr {
    border-bottom: solid 1px #f5f2f2 !important;
  }
  th,
  td {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #303972;
    padding: 16px 9px !important;
  }
  th {
    font-weight: 600;
    color: #414141;
  }
}
.text-blue {
  color: #3772ff;
}
.fa {
  cursor: pointer;
}
