<div class="container bg-gray-100">
  <h5 class="mb-5 title pt-4 d-flex">
    {{'SELECT_TYPE_ISSUE_CRED' | translate }}
    <select class="form-select w-30 ml-3" [(ngModel)]="selectedType" (ngModelChange)="onChange($event)">
      <option [ngValue]="undefined" [disabled]="true">{{'SELECT_TYPE' | translate}}</option>
      <option [value]="option.value" *ngFor="let option of certificateTypes">{{option?.label}}</option>
    </select>
  </h5>
  <!-- UI static table below -->
  <div class="table-responsive">
    <table class="table mb-4" cellpadding="0" cellspacing="0" *ngIf="issuedCredentials?.length">
      <thead>
        <tr>
          <th>S.no.</th>
          <th>Student Name</th>
          <th>Grade</th>
          <th>Student ID</th>
          <!-- <th>Mobile</th> -->
          <th>Credential ID</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableRows; let i = index">
          <td>{{i+1}}</td>
          <td class="font-600">{{item?.credentialSubject?.student_name}}</td>
          <td>{{item?.credentialSubject?.grade}}</td>
          <td>{{item?.credentialSubject?.id}}</td>
          <!-- <td>{{item?.credentialSubject?.mobile}}</td> -->
          <td>{{item?.id}}</td>
          <td>
            <i class="fa fa-eye img-btn pr-3 text-blue" title="view" (click)="viewCredential(item)"></i>
            <i class="fa fa-trash text-red" title="delete"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>

  <h5 class="text-center mt-4" *ngIf="!isLoading && !issuedCredentials.length">{{'NO_RECORDS_FOUND' | translate }}</h5>
  <ng-container *ngIf="isLoading">
    <br>
    <div class="d-flex justify-content-center">
      <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
        <span class="sr-only">{{'LOADING'|translate}}</span>
      </div>
    </div>
  </ng-container>
</div>
<div class="d-flex justify-content-end align-items-start p-2 pb-3 pt-5 table-footer" *ngIf="issuedCredentials?.length">
  <ngb-pagination class="ml-2" [collectionSize]="issuedCredentials?.length" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="pageChange()">
      </ngb-pagination>
</div>