.title {
    color: #414141;
    font-size: 16px;
    text-align: center;
  }
  .pr-22{
    padding-right: 22px;
  }
  img{
    width: 25px;
    padding-right: 3px;
  }
  tr td:last-child{
    text-align: center;
  }