<!-- <app-sidebar></app-sidebar> -->
<div class="container bg-gray-100">
    <h5 class="mb-5 title pt-4 d-flex text-center">
        Student Registration claim approval
      </h5>
      <!-- UI static table below -->
      <table class="table mb-4" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th>S.no.</th>
            <th>Student Name</th>
            <th>Student ID</th>
            <th>Date of Birth</th>
            <th>Phone Number</th>
            <th>Pending since</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of studentDetails; let index = index">
            <td>{{index+1}}</td>
            <td>{{user.studentName}}</td>
            <td>{{user.studentSchoolID}}</td>
            <td>dob</td>
            <td>{{user.phoneNo}}</td>
            <td>
                <img src="assets/images/checkicon.png" (click) = "approveStudent(user)" alt="" class=" ">
                <img src="assets/images/closecheck.png" alt="">
            </td>
          </tr>
        </tbody>
      </table>
      <br>
    </div>
    <div class="d-flex justify-content-end align-items-start p-2 pb-3 pt-5 table-footer">
      <!-- <ngb-pagination class="ml-2" [collectionSize]="allDataRows?.length" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="pageChange()">
      </ngb-pagination> -->
  </div>