<!-- <app-sidebar></app-sidebar> -->
<div class="container bg-gray-100">
    <h5 class="mb-5 title pt-4 d-flex text-center">
        Student Registration claim approval
      </h5>
      <!-- UI static table below -->
      <table class="table mb-4" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th>S.no.</th>
            <th>Student Name</th>
            <th>Guardian Name</th>
            <th>Student ID</th>
            <th>Date of Birth</th>
            <th>Grade</th>
            <th>Academic Year</th>
            <th>Phone Number</th>
            <th>Status</th>
            <th>Pending since</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of studentDetails; let index = index">
            <td>{{index+1}}</td>
            <td>{{user.student.student_name}}</td>
            <td>{{user.gaurdian_name}}</td>
            <td>{{user.student.student_id}}</td>
            <td>{{user.student.dob}}</td>
            <td>{{user.grade}}</td>
            <td>{{user.acdemic_year}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.claim_status}}</td>
            <td>{{user.osCreatedAt}}</td>
            <td>
                <img style="cursor: pointer;" src="assets/images/checkicon.png" (click) = "openPopup(user)" alt="" class=" ">
                <img style="cursor: pointer;" src="assets/images/closecheck.png" alt="">
            </td>
          </tr>
        </tbody>
      </table>
      <br>
    </div>
    <div class="d-flex justify-content-end align-items-start p-2 pb-3 pt-5 table-footer">
      <!-- <ngb-pagination class="ml-2" [collectionSize]="allDataRows?.length" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="pageChange()">
      </ngb-pagination> -->
  </div>


  <ng-template #approveModal tabindex="-1" role="dialog" aria-labelledby="approveModal">
    <div class="modal-content">
        <div class="modal-body fs-14">
          Are you sure want to approve
            <div class="d-flex justify-content-center">
                <button type="button" (click)="approveConfirm(false)"
                    class="custom-button default-button mt-20 mr-5 p-32 fs-14">
                    {{'NO_CANCEL' | translate}}
                </button>
                <button type="button" (click)="approveConfirm(true)"
                    class="custom-button blue-button mt-20 p-32 fs-14">
                    {{'YES_CONFIRM' | translate}}
                </button>
            </div>
        </div>
    </div>
</ng-template>