/* You can add global styles to this file, and also import other style files */

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,600&display=swap";
@import "https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css";

/* Importing Bootstrap SCSS file. */

@import "~bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~jsoneditor/dist/jsoneditor.min.css";


html , body{
    overflow-x: hidden;
}
:root {
    // SB-RC
    // --primaryColor: #1987B6;
    // --secondaryColor: #0098AB;
    // --bodyBackground: #F6F8FC;
    // --cardBackground: #FFFFFF;
    // --tagsBackground: #8D9091;
    // --navLabelColor: #1987B6;
    // --headerColor: #FFFFFF;
    // --headerLinkColor: #0098AB;
    // --primaryTextColor: #000000;
    // --secondaryTextColor: #8D9091;
    // SL
    --primaryColor: #050c44;
    --secondaryColor: #0098ab;
    --bodyBackground: #f6f8fc;
    --cardBackground: #ffffff;
    --tagsBackground: #f4ecff;
    --navLabelColor: #0098ab;
    --headerColor: #ffffff;
    --headerLinkColor: #0098ab;
    --primaryTextColor: #000000;
    --secondaryTextColor: #000000;
    --linkColor: #443df6;
    --secondaryBtnBgColor: #e8f3f8;

    //   dark
    // --primaryColor: #F07D00;
    // --secondaryColor: #F07D00;
    // --bodyBackground: #080808;
    // --cardBackground: #323232;
    // --tagsBackground: #505050;
    // --navLabelColor: #FFB96C;
    // --headerColor: #313131;
    // --primaryTextColor: #FFFFFF;
    // --secondaryTextColor:#FFFFFF;
    --labelOnPrimary: var(--cardBackground);
    --btnBgColor: var(--secondaryColor);
    --headerTitle: var(--primaryColor);
    --secondarybgColor: var(--secondaryColor);
    --secondarytextColor: var(--bodyBackground);
    --primarybgColor: var(--primaryColor);
    --tagstextColor: var(--secondaryColor);
    --navlinkColor: var(--navLabelColor);
    --textWhite: var(--secondarytextColor);
    /*mm
  --secondarybgColor:#4A227C;
  --secondarytextColor:#F6F8FC;
  --primarybgColor:#F07D00;
  --tagstextColor:#1987B6;
  --linkColor:#4A227C;
  --textBlack:#000000;
  --textWhite:#ffffff;*/
}

/* PK changes for - theme support */

.nav-link-color {
    color: var(--navlinkColor) !important;
}

.tagstextColor {
    color: var(--primarybgColor) !important;
}

.headerTitleColor {
    color: var(--secondaryColor) !important;
}

.primarybgColor {
    color: var(--primarybgColor) !important;
}

.card .card-body {
    background-color: var(--cardBackground) !important;
    color: var(--primaryTextColor) !important;
}

.card-title {
    color: var(--primaryTextColor) !important;
}

/* pk changes - end */

.bg-header {
    background: var(--headerColor) !important;
}
textarea.form-control {
    height: 100px !important;
    font-size: 12px;
}

.btn-primary {
    background-color: var(--primaryColor) !important;
    border-color: var(--primaryColor) !important;
    border: 0 !important;
}

.btn-style {
    border-radius: 8px !important;
    height: 40px;
}

.text-primary-color {
    color: var(--primaryColor) !important;
}

.text-secondary-color {
    color: var(--navLabelColor) !important;
}

.label-primary {
    color: var(--labelOnPrimary) !important;
}

.p14,
formly-field-select select,
formly-autocomplete-type,
.form-group,
.form-control {
    font-size: 14px !important;
}



.p12 {
    font-size: 12px !important;
    color: var(--secondaryTextColor);
}

.btn-bg {
    background-color: var(--btnBgColor) !important;
    color: #fff !important;
}

.btn-sec-bg {
    background-color: var(--secondaryBtnBgColor) !important;
    color: #1987b6 !important;
    font-weight: 600 !important;
}

form-group {
    color: #000000;
}
.text-blk{
    color: #282828 !important;
}
.text-grey1{
    color: #555454 !important;
}
.text-grey2{
    color: #54595E !important;
}
.bg-grey1{
    background: #E5E5E5 !important;
}
.mb30 {
    margin-top: -30px;
}
.mt--4 {
    margin-top: -4.3%;
}
.form-group label {
    font-size: 12px;
    font-weight: 700;
}


.custom-input-class {
    color: #2a8bac;
    background-color: var(--secondaryColor);
}

$primary-color: var(--primaryColor);
$gray-color: #8d9091;
.primary-color {
    background-color: var(--primaryColor) !important;
}

.btn-primary {
    background: $primary-color;
}

$primary-color-dark: #000;
.primary-color-dark {
    background-color: $gray-color !important;
}

// .text-primary-color{
//     color: $primary-color;
// }
.text-grey-color {
    color: $gray-color;
}
.text-bl{
    color: #3E3E3E;
}

.form-label {
    color: $primary-color-dark;
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif !important;
    color: rgb(0, 0, 0);
}

.fs-7 {
    font-size: 0.8rem;
}

.fs-8 {
    font-size: 0.7rem;
}
.font-400 {
    font-weight: 400 !important;
}
.font-500 {
    font-weight: 500 !important;
}
.font-600 {
    font-weight: 600 !important;
}

.font-700 {
    font-weight: 700 !important;
}
.w-70 {
    width: 70% !important;
}
.bg-light-gery{
    background: #FBF8FE;
 }

a {
    text-decoration: none !important;
    // color: var(--linkColor) !important;
}

// /* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

.d-flex {
    display: flex;
}
[class*="flex-"] {
    padding-left: 10px;
    padding-right: 10px;
}

[class*="flex-"]:first-child {
    padding-left: 0;
}

[class*="flex-"]:nth-last-child(2) {
    padding-right: 0;
}

// .modal-dialog{
//     max-width: 100% !important;
//     width: 100% !important;
// }
.modal-content {
    background-color: var(--cardBackground) !important;
}

.modal-dialog.panel-right .modal-body {
    padding: 15px 15px 80px;
}

/*Right*/

.modal.fade .modal-dialog.panel-right {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 400ms ease-in-out !important;
    -moz-transition: opacity 0.3s linear, right 400ms ease-in-out !important;
    -o-transition: opacity 0.3s linear, right 400ms ease-in-out !important;
    transition: opacity 0.3s linear, right 400ms ease-in-out !important;
}

.modal.fade.show .modal-dialog.panel-right {
    right: 0;
}

// .modal {
//     .container {
//         padding-bottom: 38px;
//     }
// }

formly-field {
    display: block;
}

@import "~@ng-select/ng-select/themes/default.theme.css";
[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

[type="file"] + label {
    background: white;
    border: none;
    border-radius: 5px;
    color: blue;
    cursor: pointer;
    display: inline-block;
    font-family: "Rubik", sans-serif;
    font-size: inherit;
    font-weight: 500;
    margin-bottom: 1rem;
    outline: none;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
    &:hover {
        background-color: darken(white, 5%);
    }
    #custom-text {
        margin-left: 10px;
        font-family: sans-serif;
        color: #aaa;
    }
}
formly-autocomplete-type .ng-select {
    margin-top: 25px !important;
    margin-bottom: 5px;
}

.logo {
    // width: 50px;
    height: 35px;
    display: block;
    text-indent: -9999px;
}

.ng-select {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
}

.form-control:focus {
    border-color: #69afcf;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #69afcf;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0 auto;
}

/* MM */

.height-100 {
    height: 100%;
}

.hr-0 {
    height: 0 !important;
    border-color: #ccc !important;
}

.w-45 {
    width: 45px;
}

.min-70 {
    min-width: 70px;
}

.min-220 {
    min-width: 220px;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}
.fs-24 {
    font-size: 24px;
}

.fs-25 {
    font-size: 25px;
}
.fs-38{
    font-size: 38px;
}

.fs-35 {
    font-size: 35px;
}

/* Button */

.btn {
    border-radius: 8px !important;
    text-transform: capitalize !important;
    box-shadow: none !important;
}

.primary-text-color {
    color: $primary-color !important;
}

.btn-secondary {
    color: var(--secondarytextColor) !important;
    background-color: var(--secondarybgColor) !important;
    border-color: var(--secondarybgColor) !important;
}

.btn-primary {
    color: var(--secondarytextColor) !important;
    background-color: var(--primarybgColor) !important;
    border-color: var(--primarybgColor) !important;
}
/* Tabs */

.nav-tabs {
    border: 0 !important;
    li {
        .nav-link {
            padding: 10px 0px;
            margin-right: 15px;
            text-transform: capitalize;
            border: 0px;
            color: var(--primaryTextColor) !important;
            font-weight: 400 !important;
            &.active,
            &:hover {
                border-bottom: 1px solid var(--navlinkColor) !important;
                color: var(--navlinkColor) !important;
                background-color: transparent !important;
            }
        }
    }
}

/* Card */

.card {
    background-color: var(--cardBackground) !important;
}

.floating-bottom {
    bottom: 30px;
    right: 20px;
}

.btn-icon-circle {
    border-radius: 50% !important;
    padding: 12px 17px !important;
}

//   @import "~@material/fab";
//   @include fab-core.styles;
// .custom-toggler .navbar-toggler-icon {
//     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
//   }
.toggler {
    color: var(--headerLinkColor);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--primaryTextColor) !important;
    margin-right: 10px;
    margin-left: 10px;
}

.navbar-light .navbar-nav .active {
    color: var(--primaryColor) !important;
}

/* borders */

.bb-1 {
    border-bottom: 1px solid #cecece;
}

h4,
h3,
h2 {
    color: var(--primaryTextColor);
}

h5 {
    color: var(--primaryTextColor);
}

h6 {
    color: var(--primaryTextColor);
}

p {
    color: var(--primaryTextColor);
}

.text-dark {
    color: var(--primaryTextColor) !important;
}

.text-grey {
    color: var(--secondaryTextColor) !important;
}

.form-group {
    color: var(--primaryTextColor) !important;
}

label {
    color: var(--secondaryTextColor);
}

.primary-text {
    color: var(--primaryTextColor) !important;
}

.lh-32 {
    line-height: 32px;
}

.search-area .input-append input {
    background-color: var(--cardBackground) !important;
}

.search-area .fa-search {
    color: var(--primaryTextColor) !important;
}

.modal-header {
    background-color: var(--headerColor) !important;
}

/* home.html css*/

.landing-img {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
    flex: 1;
    width: 55%;
}

.xx-small {
    font-size: xx-small;
}

.langing-bg-color {
    background: radial-gradient(72.14% 138.06% at 4.8% 90.49%, #d5ebe9 0%, #d5ebe9 45.05%, #b5e6df 100%);
}

.small-card {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #ffffff;
    border: 1px solid #efefef;
    box-sizing: border-box;
    border-radius: 4px;
    height: 141px;
    width: 326px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    min-width: 300px !important;
}

formly-field formly-object-type p {
    color: #8d9091;
    font-size: 14px;
}

formly-field .col-6 {
    display: inline-block;
    padding: 0 0 0 5px;
}

.ui-tabs {
    border-bottom: 1px solid #dee2e6 !important;
    margin-bottom: 10px !important;
    text-align: center;
    li {
        margin-right: 15px;
        a {
            color: #000;
            padding-bottom: 10px;
        }
    }
    li.active {
        border-bottom: solid 2px #1987b6;
        a {
            color: #1987b6;
        }
    }
}
.preview-footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    z-index: 9999;
    background: #fff;
    left: 0;
    padding: 10px;
}

.h-90 {
    height: 90%;
}
.bx-none {
    box-shadow: none !important;
}
.cursor-pointer {
    cursor: pointer;
}
.pt-70 {
    padding-top: 70px;
}
.modal-open .fixed-bottom {
    display: none;
}

.modal-open .preview-footer {
    background: rgb(145 142 142 / 10%);
    z-index: 9;
}
.heading-5 {
    font-size: 24px !important;
    font-weight: 700 !important;
    line-height: 32px !important;
}

.heading-2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
}
.heading-3 {
    font-size: 14px !important;
    line-height: 32px !important;
    font-weight: 700 !important;
}
.heading-4 {
    font-size: 12px !important;
    font-weight: 400;
    line-height: 16px !important;
}

.sb-gray-color {
    color: #8d9091;
}

.btn-primary-sm {
    background: #1987b6;
    border-radius: 8px !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    text-align: center !important;
    line-height: 32px !important;
}
.p1 {
    padding: 0.175rem 2.5rem !important;
}
.p2 {
    padding: 0.275rem 0.85rem !important;
}
.p0 {
    padding: 0.175rem 1.5rem !important;
}
.sb-text-primary {
    color: #1987b6 !important;
}
.iframe-container {
    background: #efefef;
    border: solid 1px #efefef;
}
.border-light-color {
    border: 1px solid #efefef;
}
.mtn-28 {
    margin-top: -28px;
}
.pt-34 {
    padding-top: 34px;
}
.mb-05 {
    margin-bottom: 0.5rem !important;
}
.bg-none {
    background: none !important;
}
.navbar-inverse {
    justify-content: flex-start !important;
}
/*  Json Editor : start*/

.json-editor,
div.jsoneditor-outer,
.ace-jsoneditor,
textarea.jsoneditor-text {
    min-height: 400px !important;
}

.mt-6 {
    margin-top: 6rem !important;
}

.jsoneditor {
    height: 600px !important;
}
/* Start - ngx-editor css */
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    height: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 5px;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.ngx-text-editor {
    background-color: #ffffff !important;
    font-size: 14px;
    height: 600px !important;
}

.ngx-text-editor-textarea {
    height: 600px !important;
}

.ngx-toolbar {
    display: none !important;
}

/* End - ngx-editor css */
.custom-button {
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 145px;
}
.blue-button {
    background: #050c44;
    color: #fff;
}
.p-32 {
    padding: 7px 32px !important;
}
.default-button {
    background: none;
    color: #050c44;
    border: solid 1px #050c44;
}
.mt-20 {
    margin-top: 20px;
}
.horizontal-line {
    height: 0;
    width: 100%;
    margin: 0 auto;
}
.horizontal-line1 {
    height: 0;
    width: 57%;
    margin: 0 auto;
}
.text-gray-0 {
    color: #79787c;
}
.text-gray-100 {
    color: #a3a3a3;
}
.bg-gray-100 {
    background: #f5f5f5;
}
.text-orange {
    color: #ee8908;
}
.fs-10 {
    font-size: 10px;
}
.min-w-100{
    min-width: 105px !important;
}
.fs-18 {
    font-size: 18px;
}
.font-600 {
    font-weight: 600;
}
.font-700 {
    font-weight: 700;
}
.pagination li:last-child a,
.pagination li:first-child a {
    border: none !important;
    background: none !important;
    font-size: 26px;
}
.gap-20{
    gap:20px
}
.colr-blue{
    color: #1766FF;
    border-bottom: 1px solid #1766FF;
}
.colr-blck{
    color: #414141;
}
.title {
    color: #414141;
    font-size: 16px;
    text-align: center;
}
.center-loading {
    position: fixed;
    z-index: 999999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: azure;
}

/* Transparent Overlay */
.center-loading:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
    background: -webkit-radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
}
.spinner-border {
    width: 5rem;
    height: 5rem;
}
.text-red {
    color: #d64040;
}
.card {
    padding: 15px 0;
    margin-bottom: 20px;

    .card-body {
        display: flex;
    }
    .card-image {
        border: 1px solid #ddd;
        height: 50px;
        border-radius: 50%;
        width: 50px;
        text-align: center;
        overflow: hidden;
        margin-right: 10px;
        background-color: lightgray;
        img {
            object-fit: cover;
            // padding: 8px;
            height: 45px;
            border-radius: 100%;
        }
    }
    .card-intro-info {
        width: calc(100% - 45px);
        padding-right: 5px;
    }
}
.card {
    border-radius: 22px !important;
}
.pb-55 {
    padding-bottom: 55px !important;
}
// .box {
//     width: 31%;
//     border: solid 1px #303972;
//     border-radius: 7px;
//     text-align: right;
//     padding: 20px;
//     background: #303972;
//     color: #fff;
// }
.gap-20 {
    gap: 20px;
}

.table-footer {
    margin-bottom: 56px;
    button {
        margin-right: 30px !important;
    }
}

::ng-deep {
    .page-item.active .page-link {
        background-color: var(--primaryColor);
        border-color: var(--primaryColor);
    }
    .page-link {
        border-radius: 50%;
        color: #a098ae;
        margin: 10px;
        width: 45px;
        line-height: 27px;
        height: 45px;
        text-align: center;
    }
}
.min-375{
    min-height: 375px;
}
.min-675{
    min-height: 675px;
}
ngx-extended-pdf-viewer{
    display: block;
    overflow: hidden;
    height: 380px;
}

// .container{
//     padding-bottom: 30px;
// }
// .text-wb {
//     color: var(--primaryTextColor) !important;
// }

// .table-striped tbody tr:nth-of-type(odd) {
//     background-color: var(--bodyBackground) !important;
// }

// .btn-success {
//     background-color: #88ecb226 !important;
//     color: #22b02e !important;
//     border: 0 !important;
// }

// .bg-primary {
//     background-color: var(--primaryColor) !important;
// }

// .ngx-pagination .current {
//     background: var(--primaryColor) !important;
// }

// .d-contents {
//     display: contents !important;
// }

// .btn-deny {
//     background-color: #f3c2c24f !important;
//     color: #c5292a !important;
//     border: 0 !important;
// }
// .p16,
// legend {
//     font-size: 16px !important;
// }

// legend {
//     font-weight: 700;
// }

// .img16 {
//     width: 16px;
// }
// .badge-secondary {
//     border: 1px solid #cccccc !important;
//     background-color: var(--bodyBackground) !important;
//     color: #8d9091 !important;
// }

// .marker-pointer {
//     font-family: "Font Awesome 5 Free";
//     content: "\f3c5";
//     display: inline-block;
//     padding-left: 10px;
//     vertical-align: middle;
//     font-weight: 900;
//     font-style: normal;
//     font-size: 12px;
// }

// .input-group-text {
//     background: none !important;
//     border: none !important;
//     font-size: 14px !important;
//     padding-left: 0 !important;
//     padding-right: 5px !important;
// }
// .custom-control-label {
//     font-size: 14px;
//     font-weight: 400 !important;
//     padding-top: 5px !important;
// }

// // .text-primary-color{
// //     color: #1987B6 !important;
// // }
// .private-access:before {
//     font-family: "Font Awesome 5 Free";
//     content: "\f023";
//     display: inline-block;
//     padding-left: 10px;
//     vertical-align: middle;
//     font-weight: 900;
//     font-style: normal;
//     font-size: 12px;
// }

// .internal-access:before {
//     font-family: "Font Awesome 5 Free";
//     content: "\f023 ";
//     display: inline-block;
//     padding-left: 10px;
//     vertical-align: middle;
//     font-weight: 900;
//     font-size: 12px;
//     font-style: normal;
// }

// .public-access:before {
//     font-family: "Font Awesome 5 Free";
//     content: "\f57c ";
//     display: inline-block;
//     padding-left: 10px;
//     vertical-align: middle;
//     font-weight: 900;
//     font-size: 12px;
//     font-style: normal;
// }
// button.calendar,
// button.calendar:active {
//     width: 2.75rem;
//     background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=) !important;
//     background-repeat: no-repeat;
//     background-size: 23px;
//     background-position: 50%;
// }

// .btn-outline-secondary {
//     color: #8d9091;
//     border-color: #8d9091;
// }

// .btn-outline-secondary:hover {
//     color: #8d9091;
//     border-color: #8d9091;
// }
// .dflex-dc-column {
//     flex-direction: column;
// }

// .alert-warning {
//     color: #0e0e0e !important;
//     background-color: #f7efe0 !important;
//     border-color: #f7efe0 !important;
//     font-size: 0.8rem;
//     padding: 1rem;
// }

// .alert-success {
//     color: #0e0e0e !important;
//     font-size: 0.8rem;
// }

// .red {
//     color: red;
// }
// .display-flex {
//     display: flex;
// }

// .flex-1 {
//     flex: 1;
// }

// .flex-2 {
//     flex: 2;
// }

// .flex-3 {
//     flex: 3;
// }

// .flex-4 {
//     flex: 4;
// }

// .flex-5 {
//     flex: 5;
// }

// .flex-6 {
//     flex: 6;
// }
// .modal-dialog.panel-right {
//     position: fixed !important;
//     left: auto;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     margin: auto !important;
//     height: 100%;
//     -webkit-transform: translate3d(0%, 0, 0) !important;
//     -ms-transform: translate3d(0%, 0, 0) !important;
//     -o-transform: translate3d(0%, 0, 0) !important;
//     transform: translate3d(0%, 0, 0) !important;
// }

// .modal-dialog.panel-right .modal-content {
//     height: 100%;
//     overflow-y: auto;
//     border-top-right-radius: 0px;
//     border-bottom-right-radius: 0px;
// }
// .sub-container {
//     margin: 20px;
// }
// // discovery page
// .selected-list .c-list .c-token {
//     background-color: #6495ed99 !important;
// }

// .dropdown-list.tagToBody {
//     position: fixed;
//     width: 400px !important;
// }

// .list-area {
//     background-color: var(--cardBackground) !important;
//     color: var(--primaryTextColor) !important;
// }

// .list-filter {
//     background: #ffffff;
// }
// /* Tags */

// .tags-list {
//     margin-top: 10px;
//     ul {
//         margin: 0;
//         padding: 0;
//         li {
//             display: inline-block;
//             list-style: none;
//             font-size: 11px;
//             background-color: var(--secondarybgColor) !important;
//             padding: 5px 7px;
//             border-radius: 5px;
//             margin-right: 5px;
//             margin-bottom: 5px;
//             color: var(--tagstextColor) !important;
//         }
//     }
// }
// legend {
//     color: var(--primaryTextColor) !important;
// }
// .tox .tox-dialog--width-lg,
// .tox .tox-dialog {
//     height: 547px !important;
//     max-height: 70% !important;
// }

// .tox .tox-dialog-wrap__backdrop {
//     z-index: 5000;
// }

// .jsoneditor-menu {
//     display: none;
// }
// /*   Gragesjs editor - start */
// .gjs-cv-canvas {
//     width: 70% !important;
// }

// .gjs-pn-panel {
//     width: 30% !important;
// }

// .gjs-pn-options {
//     right: 30% !important;
// }

// .gjs-pn-btn {
//     margin-right: 15px !important;
// }

// .gjs-pn-commands {
//     display: flex !important;
// }


// .adv-btn {
//     color: #a6d4ff !important;
//     background-color: #100e0e9c !important;
//     font-size: 14px !important;
//     line-height: 18px !important;
//     font-weight: 700 !important;
// }

// .builder-sidebar_scroll {
//     margin: -8px !important;
// }

// .pcard {
//     background-color: #322931 !important;
//     color: #ffffff !important;
// }

// .pcard-body,
// .card-body-container {
//     background: #1b2124;
//     color: #ffffff !important;
// }
// /*  Advance editor: start */

// .formcomponents {
//     padding-right: 5px !important;
//     padding-left: 5px !important;
// }


.text-yellow {
    color: #ff740f;
  }
  .text-blue {
    color: #050c44;
  }
  .bg-dark-blue{
    background: #050C44;
  }
  .page-title {
    font-size: 38px;
    font-weight: 700;
    margin-top: 50px;
  }
  
  .bullet-point {
    width: 486px;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 400;
    color: #050c44;
    margin: 2rem auto 0;
    list-style-type: none;
  }
  
  .check-icon {
    img {
      width: 2rem;
      height: 2rem;
    }
    margin-right: 1rem;
  }
  .bullet-point li {
    display: flex;
    line-height: 1.4;
    justify-content: flex-start;
    align-items: baseline;
    padding: 1rem 0;
  }
  .reg-img {
    margin-top: 1rem;
  }
  .pr-90{
    padding: 12px 70px !important;
  }
  .pr-80{
    padding: 12px 80px !important;
  }
  .bor-bot{
    border-bottom: 1px solid #FFF;
    display: inline-block;
  }
  .square{
    width: 158.15px;
    height: 158.15px;
    background: #FCFCFC;
    box-shadow: 0px 2.87542px 21.5657px rgba(0, 0, 0, 0.15);
    border-radius: 10.064px;
  }
  .ht-234{
    height: 234px !important;
  }
  .flex-center{
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
  }
  .icon-hol{
    width:31.67px;
    height:31.67px;
    border-radius: 50%;
    display: flex;
    background: #050C44;
    padding: 0 !important;
  }
  .jc-content-center{
    justify-content: center;
  }
  .border-none{
    border: none !important;
  }
  .croos-btn{
    background: #E5E5E5 !important;
    width: 24px !important;
    height: 24px !important;
    border-radius: 29px !important;
    margin-right: 5px !important;
    margin-top: 5px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .content-ht{
    background: #FFFFFF !important;
    border: 1px solid #DEE2E6;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 20px 20px rgba(0, 0, 0, 0.08) !important;
    border-radius: 8px !important;
    width: 429px !important;
    height: 128px !important;
  }
  .custom-button1{
    width: 385px;
    height: 44px;
    background: #050C44;
    border-radius: 8px;
  }

  //taps design css

  .process-model {
    list-style: none;
    padding: 0;
    position: relative;
    border: none;
    z-index: 0;
    display: flex;
    justify-content: space-between;
}
.process-model li:first-child:after {
    background: #565656;
    clip-path: polygon(0 33%, 100% 33%, 95% 45%, 100% 58%, 0 58%, 5% 46%);
    bottom: 0;
    content: "";
    display: block;
    height: 53px;
    margin: 0 auto;
    position: absolute;
    margin-left: 12.4%;
    top: -4px;
    width: 28%;
    z-index: -1;
}
.process-model li:nth-child(2)::after {
    background: #565656;
    clip-path: polygon(0 33%, 100% 33%, 95% 45%, 100% 58%, 0 58%, 5% 46%);
    bottom: 0;
    content: "";
    display: block;
    height: 53px;
    margin: 0 auto;
    position: absolute;
    margin-left: 14.4%;
    top: -4px;
    width: 32%;
    z-index: -1;
}
.process-model li.visited::after {
    background: #FF740F;
}
.process-model li:last-child::after {
    width: 0;
}

.nav-tabs.process-model > li.active > a, .nav-tabs.process-model > li.active > a:hover, .nav-tabs.process-model > li.active > a:focus, .process-model li a:hover, .process-model li a:focus {
    border: none;
    background: transparent;

}
.visited a .orange-border .white-box{
    background: #FF740F !important;
    color: #fff !important;
}
.process-model li.active,
.process-model li.visited {
    color: #FF740F;
}
.process-model li.active a,
.process-model li.active a:hover,
.process-model li.active a:focus,
.process-model li.visited a,
.process-model li.visited a:hover,
.process-model li.visited a:focus {
    color: #FF740F;
}
.process-model.contact-us-tab li::after  {
    display: none; 
}
.orange-border{
    width: 38.51px;
    height: 38.51px;
    border: 1px solid transparent;
    border-radius: 6px;
    transform: rotate(-45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.white-box{
    width: 33px;
    height: 33px;
    background: #565656;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i{
    transform: rotate(45deg) !important;
    color: #fff !important;
}
.more-icon-preocess .active a .orange-border{
    border: 1px solid #FF740F !important;
}
.more-icon-preocess .active a .white-box{
   background: #fff;
}
.more-icon-preocess .active a .i{
    color:#FF740F !important;
 }
 .more-icon-preocess li a {
    display: flex;
    justify-content: center ;
 }
 #viewerContainer{ 
    overflow: hidden !important;
 }
 .canvasWrapper{
    canvas{
        width: 872px !important;
        height: 1147px !important;
    }
 }
